		.tooltip {
			color: #000000; outline: none;
			cursor: help; text-decoration: none;
			position: relative;
		}
		.tooltip span {
			margin-left: -999em;
			position: absolute;
		}
		.tooltip:hover span {
			border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
			box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
			font-family: Calibri, Tahoma, Geneva, sans-serif;
			position: absolute; left: 1em; top: 2em; z-index: 99;
			margin-left: 0;
                        width: 200px;
                        padding: 5px 5px 5px 5px;
                        text-align: justify;
                        font-size: 12px;
		}
		.help { background: #e8e8e8; border: 1px solid #c1c1bf;	}
		.quoutetooltip {
			color: #000000; outline: none;
			cursor: help; text-decoration: none;
			position: relative;
		}
		.quoutetooltip span {
			margin-left: -999em;
			position: absolute;
		}
		.quoutetooltip:hover span {
			border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
			box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
			font-family: Calibri, Tahoma, Geneva, sans-serif;
			position: absolute; left: -17em; z-index: 99;
			margin-left: 0;
                        width: 200px;
                        padding: 5px 5px 5px 5px;
                        text-align: justify;
                        font-size: 12px;
		}
