
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<!-- Begin metadata -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" /> 
<link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" /> 

<!-- Site Specific Data -->
<title>Super Records | SMSF Administration Services</title>
<meta name="DC.title" lang="en" content="Super Records | SMSF Administration Services" /> 
<meta name="description" content="Providing SMSF Administration Services to Professional Firms" />
<meta name="DC.Description" lang="en" content="Providing SMSF Administration Services to Professional Firms" /> 
<meta name="keywords" content="keyword, keyword" />

<meta name="DC.subject" lang="en" content="Super Records" /> 
<meta name="DC.Rights" content="Copyright (c) 2013 - Super Records | Web Design by Quikclicks www.quikclicks.com.au" />
<meta name="DC.date" scheme="DCTERMS.W3CDTF" content="2012-08-01" /> 
<meta name="date_modified" scheme="ISO8601" content="2012-08-10" />

<!-- metadata cont'd-->
<meta name="DC.creator" content="Quikclicks Web Design Sydney - http://www.quikclicks.com.au" /> 
<meta name="DC.publisher" content="Quikclicks Web Design Sydney - http://www.quikclicks.com.au" /> 
<meta name="DC.type" scheme="DCTERMS.DCMIType" content="Text" /> 
<meta name="DC.format" scheme="DCTERMS.IMT" content="text/html" />
<meta name="DC.language" scheme="DCTERMS.RFC1766" content="en-AU" /> 
<meta name="robots" content="INDEX,FOLLOW" />
<meta name="revisit-after" content="1 month"/>

<!-- Favicon-->
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

<!-- Main CSS-->
<link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>

<!-- Accordion CSS-->
<link rel="stylesheet" type="text/css" href="css/accordion.css"/>


<!-- Liquid Slider CSS-->
<link rel="stylesheet" type="text/css" media="screen" href="css/liquid-slider-1.1.css">

<!-- JS -->
<script type="text/javascript" src="js/modernizr.custom.29473.js"></script>
<script type="text/javascript" src="js/util-functions.js"></script>
<script type="text/javascript" src="js/clear-default-text.js"></script>


<!-- Google Webfont -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>


</head>

<body>

<div class="wrapper">

<div class="header">
	<div class="container">
		<div class="branding">
        	<a href="index.html"><img src="images/header-logo.png" /></a>
        </div> <!--branding-->
        <div class="user">        	<li class="contact"><a href="contact-us.html">Contact Us</a></li>
<li class="login"><a href="login.html">Client Login</a></li>
        </div> <!--user-->
        <div class="phone">
        	<img src="images/header-phone.png" />
        </div> <!--phone-->
    </div> <!--container-->
</div> <!--header-->

<div class="nav">
	<div class="container">
    	<ul>
                <li><a href="index.html">Home</a></li>
                <li class="dropdown"><a href="#l">About Us</a>
                    <ul class="sub">
                        <li><a href="super-records.html">Super Records</a></li>
                        <li><a href="our-people.html">Our People</a></li>
                        <li><a href="our-benefits.html">Our Benefits</a></li>
                    </ul> <!--sub-->
                <li class="dropdown"><a href="#l">Case Studies</a>
                    <ul class="sub">
                        <li><a href="financial-planner.html">Financial Planner</a></li>
                    </ul> <!--sub-->
       			</li>
                <li class="dropdown"><a href="#">Services</a>
                    <ul class="sub">
                        <li><a href="packages.html">SMSF Compliance Packages</a></li>
                        <li><a href="services.html">Ad Hoc SMSF Services</a></li>
                    </ul> <!--sub-->
       			</li>
        
               <li><a href="newsroom.html">Newsroom</a></li>      
               <li><a href="resources.html">Resources</a></li>      
               <li><a href="contact-us.html">Contact Us</a></li>      
        </ul>
    </div><!--container-->
</div><!--nav-->
	

<div class="generalbanner">
	<div class="container">
    <img src="images/title-about-us.jpg" />

    </div> <!--container-->

</div> 
<!--generalbanner-->
<div class="container">
    <div class="contentgeneral">
    	<div class="contenttext">
        	<h1>Super Records</h1>
        	<p style="border-bottom: 1px solid #E5E5E5;padding-bottom: 20px;">Super Records is an Australian accounting firm <span>specialising in providing efficient and cost effective solutions to our clients.</span> We are completely Australian owned and operated and have set up a branch office in India, which is the large scale mirror of our Australian accounting firm.
        	</p>
            <div style="width:310px;float:left;">
       	  <p>By mirroring an Australian accounting firm in our office in India we are able to provide prices that are only possible with an offshore model – but still maintain the high level of quality and control you expect when dealing with any other Australian accounting firm.</p>
          <p>
Our branch office only provides Australian accounting services and has been doing so since 2003, so you get the benefit of our many years of streamlining and process improvements which results in <span>an efficient solution that will work for you.</span> It also means that our staff know the ins and outs of Australian accounting standards, as that is all they do each day.
</p>
</div>


<div style="width:310px;float:right;">
<p>Super Records does not compete with our professional service clients and exists to provide an <span>independent platform</span> to get the work done efficiently and in a cost effective manner.  We are not associated with any financial institution nor do we receive referral fees from any source, so your own independence is not compromised when utilising our services.</p>
<p>
Our management team have <span>over 20 years combined experience</span> in accounting and business services and you can rest assured that all of our clients benefit from that experience and expertise.
</p>
</div>
<p style="clear:both"></p>

<p><br />

</p>
<p class="dark-blue">To learn more about Super Records and why we are the right SMSF provider for you, contact us today!</p><br />

		</div> <!--contenttext-->


        <div class="column-right">
                
           <div class="rightmenu">
                	<ul>
                    	<li><a href="super-records.html">Super Records</a></li>
                    	<li><a href="our-people.html">Our People</a></li>
                    	<li><a href="our-benefits.html">Our Benefits</a></li>
                    </ul>
         	</div> <!--rightmenu--> 
                
                <div class="ac-container">
                    <div>
                        <input id="ac-1" name="accordion-1" type="checkbox" />
                        <label for="ac-1">SMSF Pacakages</label>
                        <article class="ac-small">
                            <p>We have a variety of packages to suit the needs of your practice.<br />
<a href="packages.html" style="color:#f05927; font-weight:bold;">» Find Out More</a></p>
                        </article>
                    </div>           
				</div> <!--ac-container-->                  
        	
         <div class="contactform">
        	<h1>Contact Us</h1>
                <form method="post" action="contactengine.php">
                
                    <input type="text" name="Name" class="input cleardefault" id="Name" value="Full Name *" required="required"/>
                     
                    <input type="text" name="Email" class="input cleardefault" id="Email" value="Email *" required="required"/>
                    
					<input type="text" name="Telephone" class="input cleardefault" id="Telephone" value="Telephone *"/>
        
                    <textarea name="Comments" rows="20" cols="20" id="Comments" required="required" style="height:65px;" onblur="if(this.value == '') { this.value = 'Comments'; }" onfocus="if(this.value == 'Comments') { this.value = ''; }">Comments</textarea>
    
                    <button type="submit" value="Submit">Submit</button>                    
				</form>          
        </div> <!--contacform-->

        </div> <!--column-right-->
    </div> <!--contentgeneral-->

<div class="clear"></div> <!--clear float-->        

        
<div class="sponsors">
	<span><img src="images/logos/cpa.jpg" /></span>
	<span><img src="images/logos/bgl.jpg" /></span>
	<span><img src="images/logos/banklink.jpg" /></span>
	<span><img src="images/logos/ssa.jpg" /></span>
</div> <!--sponsors-->

  
</div> <!--container-->

<div class="push"></div>
</div> <!--wrapper-->
<div class="clear"></div> <!--clear float-->        

<div class="bottom-menu">
	<div class="container">
    
        <div class="column-1">
            <h1>About Us</h1>
                <ul>
                    <li><a href="super-records.html">Super Records</a></li>
                    <li><a href="our-people.html">Our People</a></li>
                    <li><a href="our-benefits.html">Our Benefits</a></li>
                </ul>
        </div> <!--column-->

        <div class="column-2">
            <h1>Case Studies</h1>
                <ul>
                    <li><a href="financial-planner.html">Financial Planner</a></li>
                </ul>
        </div> <!--bottom-menu-column-->


        <div class="column-3">
            <h1>Services</h1>
                <ul>
                    <li><a href="packages.html">SMSF Compliance Packages</a></li>
                    <li><a href="services.html">Ad Hoc SMSF Services</a></li>
                </ul>
        </div> <!--bottom-menu-column-->


        <div class="column-4">
            <h1><a href="newsroom.html">Newsroom</a></h1>
            <h1><a href="resources.html">Resources</a></h1>
            <h1><a href="login.html">Client Login</a></h1>
        </div> <!--bottom-menu-column-->

        <div class="column-5">
            <h1>Contact Us</h1>
				<p>Level 32, 1 Market Street,</p>
				<p>Sydney NSW 2000</p>
				<p>Phone: 1800 278 797</p>
        </div> <!--bottom-menu-column-->
    </div>
    </div>

            	

<div class="footer">
	<div class="container">
    	<ul>
        	<li><a href="#">Privacy Policy</a></li>
           	<li><a href="#">Terms & Conditions</a></li>
        </ul>
		<span>
        Copyright Super Records © 2013 | <a title="Website Design Sydney" target="_blank" href="http://www.quikclicks.com.au">Web Design Sydney</a> by <a title="Web Design Company" target="_blank" href="http://www.quikclicks.com.au">Quikclicks</a>
        </span>
    </div><!--container-->
</div> <!--footer-->

</body>

</html>


