/************ Class for pagination ************/
/*.paginate_button_disabled
{
    border: 1px solid #F3F3F3;
    color: #CCCCCC;
    margin-right: 2px;
    padding: 2px 5px;
    border: 0;       
}*/
.paginate_button
{
    padding: 2px 5px 2px 5px;
    margin-right: 2px;
    color: #2c9fde;
    border: 1px solid #1c81b7;
	background-color: #f5fbfe;
}
.paginate_button:hover
{
    border:1px solid #1c81b7;
    color: #fff;
    background-color: #2c9fde;
	cursor: pointer;
}
.paginate_active
{
    padding: 2px 5px 2px 5px;
    margin-right: 2px;
    border: 1px solid #1c81b7;
    font-weight: bold;
    background-color: #2c9fde;
    color: #FFF;
}
/**********************************************/
		
		
.selectCriteria
{
	background-color:#E4F5FD;
	border:2px solid #167100;
}

.ui-autocomplete
{	max-height: 180px;
	overflow-y: auto;
	font-size: 8pt;
}

.note
{
	color:#2876aa;
	font-size:10pt;
	margin-left:70px;
	font-weight: bold;
}

.sortingNote
{
	color:#a20000;
	font-size:10pt;
	margin-left:5px;
	font-weight: bold;
}

.trclass
{
	background-color:#ffffff;
	color:rgb(0, 0, 0); 
	font-weight:normal;
	height:18px;  
	font-size:9pt;
}

.trclass:hover
{
	background-color: rgba(236, 203, 72, 0.26);
}

.trAlternateColor
{
	background-color:#ededf3;
	color:#000000;
	font-weight:normal;
	height:18px;
	font-size:9pt; 
}

.trAlternateColor:hover
{
	background-color: rgba(236, 203, 72, 0.26);
}

.trPopup:hover td
{
	background-color: rgba(236, 203, 72, 0.26);
}

.trGreyColor
{
	background-color:#c6c6c6;
	color:rgb(0, 0, 0); 
	font-weight:normal;
	height:18px;  
	font-size:9pt;
}

.alink
{
	color:#000000;
	text-decoration: none;
}

a:hover
{
  	color: #fe9f1f ;
}
.aclick
{
	text-decoration:none;
	padding: 6px;
	color:#f97600;
	font-size:15px;
}

.expcursor
{
	cursor: default;
}

.pagelink
{
	text-decoration:none; 
	padding:6px; 
	color:#fff;
}

.welcome
{
	font-family: arial; 
	font-weight: bold; 
	font-size: 10pt; 
	letter-spacing: 2px; 
	text-decoration:none;
}



.h1class
{
	color:#266d9d; 
	font-family: Georgia; 
	font-size: 23px; 
	letter-spacing: 12px; 
	padding: 53px;
}

.h3class
{
	font-size:17px;
	letter-spacing:4.5px;
	padding:15px 5px 0px; 
	color:teal;
	font-family:Arial;
	font-weight:bold;
}

.spantext1
{
	font-size:11px;
	letter-spacing:1px;
	color:#BE4F33;
	font-family:Arial;
	font-weight:bold;
}

.spantext2
{
	font-size:11px;
	letter-spacing:1.5px;
	color:#BE4F33;
	font-family:Arial;
	font-weight:bold;
}

.spantext3
{
	font-size:11px;
	color:rgb(238, 238, 6);
	font-family:verdana;
	font-weight:bold;
}

.delbtnclass
{
	background-image: url(../images/delete_icon.png);
	height:23px;
	width:23px;
}
.delbtnMatrix
{
	background-image: url(../images/delete_icon_matrix.png);
	height:15px;
	width:15px;
}

.addbtnclass
{
	font-family:arial;
	font-weight:bold;
	letter-spacing:2px; 
	background-image: url(../images/add_button.png);
	height:23px; 
	width:23px; 
	color:rgba(37, 30, 30, 0.89);
	border: 1px solid rgba(214, 233, 241, 0.58);
}

/*.btnclass
{
	font-family:arial;
	font-weight:bold;
	font-size:10pt; 
	letter-spacing:2px; 
	background-color:rgb(0, 191, 255); 
	height:35px; 
	width:100px; 
	color:#fff;
    border: 1px solid rgba(214, 233, 241, 0.58);
}*/

.btnEnableDisable
{
	height:30px; 
	width:60px;
	border:0px;
	color:#cc0000;
	font-weight: bold;
	margin:-16px 0px 0px 30px;
	float: left;
	background-image:url(../images/yellow_button.png);
}

.btnAdd
{
	height:27px; 
	width:70px;
	border:0;
	color:#ffffff;
	font-weight: bold;
	background-image:url(../images/button_add.png);
}
.btnAddMore
{
	height:19px; 
	width:72px;
	border:0;
	color:#ffffff;
	font-size:10px;
	font-weight: bold;
	background-image:url(../images/add_more.png);
}
.btnClose
{
	height:27px; 
	width:81px;
	border:0;
	color:#ffffff;
	font-size:12px;
	font-weight: bold;
	background-image:url(../images/add_more.png);
}
.btnBack
{
	height:32px; 
	width:72px;
	border:0;
	background-image:url(../images/Blue_Back_Button.jpg);
	margin-top:-3px;
}
.btnPrint
{
	height:28px; 
	width:84px;
	border:0;
	color:#ffffff;
	font-weight: bold;
	background-image:url(../images/print_button.png);
}
.btnReport
{
	height:29px; 
	width:90px;
	border:0;
	color:#ffffff;
	font-weight: bold;
	background-image:url(../images/report.png);
}
.btnReset
{
	height:27px; 
	width:70px;
	border:0;
	color:#ffffff;
	font-weight: bold;
	background-image:url(../images/reset.png);
}
.btnSave
{
	height:28px; 
	width:84px;
	border:0;
	color:#ffffff;
	font-weight: bold;
	background-image:url(../images/button_add.png);
}
.btnUpdReport
{
	height:27px; 
	width:108px;
	border:0;
	color:#ffffff;
	font-weight: bold;
	background-image:url(../images/reset.png);
}
.btnShowAllHide
{
	height:28px; 
	width:149px;
	border:0;
	color:#ffffff;
	font-weight: bold;
	background-image:url(../images/show_all_hide.png);
}
.btnUpdate
{
	height:27px; 
	width:90px;
	border:0;
	color:#ffffff;
	font-weight: bold;
	background-image:url(../images/update.png);
}
.btnUpdateDisable
{
	height:29px; 
	width:90px;
	border:0;
	color:#ffffff;
	font-weight: bold;
	background-image:url(../images/update_disable.png);
}
.btnIndexLogin
{
	height:27px; 
	width:68px;
	border:0;
	color:#ffffff;
	font-weight: bold;
	background-image:url(../images/index_login.png);
}
.btnIndexReset
{
	height:27px; 
	width:70px;
	border:0;
	color:#ffffff;
	font-weight: bold;
	background-image:url(../images/index_reset.png);
}

.searchLable
{
	color:#2b7cb3;
	font-size:15;
	font-weight:bold;
	/*margin-left:20px;*/
}
.searchTextBox
{
	width:460px;
	height:25px;
	border-color:#2B7CB3;
	border-style:solid;
	border-width:1px;
	background-color:#eef5fb;
	color:#919191;
	padding:2px;
}
.panelclass
{
	font-family:arial; 
	font-size:11pt; 
	color:#026390;
    border-collapse:collapse;
}

.tblindexclass
{
	font-family:arial; 
	font-size:11pt; 
	color:#008080;
}

.tblDataclass
{
	font-family:arial;
	font-size:11px;
	color:#215f87;
	background-color:#d8e9f5;
	border:1px solid;
	border-color:#5fa9da;
}

.tblinnerclass
{
	font-family:arial;
	font-size:11px;
	color:#215f87;
	background-color:#d8e9f5;
	border:1px solid;
	border-color:#5fa9da;
}

.greyborderclass
{
      border: 1px solid;
	  border-color:#9bc9e8;
      border-collapse:collapse; 
}

.leftDiv
{
	margin:0px 0px 0px 0px;;
	float: left;
}
.nextToLeftDiv
{
	margin:3px 0px 0px 3px;;
	float: left;
}
.rightDiv
{
	padding:0px 0px 0px 0px;
	float: right;
	margin-top:6px;
}
.toggleDiv
{
	margin:-18px 0px 0px 30px;
	float: left;
}

.addButtonDiv
{
	margin:0px 0px 0px 0px;;
	float: left;
	margin-top:-15px;
}
.addTextDiv
{
	margin:3px 0px 0px 3px;;
	float: left;
	margin-top:-12px;
}
/*
.hrColor
{
	color:#4FA0D5;
	margin:-4px 0px 5px 0px;
	margin-top:-9px;
}
*/

.tblclass
{
	font-family:arial; 
	font-size:10pt; 
	background-color:#d1e7f5;
	height:18px;
	padding:0px 0px 0px 0px;
	border-style: solid;
	border-width: 1px;
}

.thclass
{
	padding:0px 0px 0px 10px;; 
	height:10px; 
	font-weight:bold; 
	font-size:11PX; 
	letter-spacing:1px;
	color:#216592;
	background-color:#c0dcef;
}

.thinnerclass
{
	font-weight:bold; 
	font-size:11px; 
	width:250px; 
	color:#026390;
	letter-spacing:1px;
	padding:0px 0px 0px 5px;
	background-color: #f1f8fc; 
}

.tdinnerclass
{
	background-color: #d5ecf9; 
	color: #026390; 
	font-size: 11px;
	font-weight: bold;
	margin:0px 0px 0px 0px;
}
.tdinnerclassNew
{
	background-color: #F1F8FC; 
	color: #026390; 
	font-size: 11px;
	font-weight: bold;
	width:550px;
}

.indexdiv1class
{
	padding:15px 5px 15px;
}

.indexdiv2class
{
	padding:5px;
	height:350px;
}

.indexdiv3class	
{
	background-color:rgba(214, 233, 241, 0.58); 
	padding:5px;
	width:533px;
}

.indexh2class
{
	font-family:forte;
	padding:5px 0px;
	color:#0785AD;
	height:35px;  
	font-size:18pt; 
	letter-spacing:2px;
}

.indexh3class
{
	font-family:Georgia; 
	padding:5px 0px;
	color:#02659f;
	height:92px;  
	font-size:10pt; 
	letter-spacing:1px;
}

.infodiv	
{
	background-color:rgba(20, 107, 86, 0.24);
	padding:5px;
    color:#205e86;
	height:15px; 
	font-size:9pt; 
    font-family:Georgia, Arial; 
	font-weight: normal; 
}

.top {
        vertical-align:text-top;
}

.bottom {
        vertical-align:text-bottom;
}

.lockicon
{
	background-color:rgba(214, 233, 241, 0.58); 
	display:inline-block;
	line-height:75px;
	padding-left:110px;
	background:transparent url(../images/lock.png) center left no-repeat;
}

.indextrclass
{
	font-family:Georgia, Arial; 
	color:black;
	height:35px; 
	font-weight:bold; 
	font-size:10pt; 
	letter-spacing:2px;
	color:#2770a0;
}

.footer
{
	font-family: arial; 
	font-weight: bold; 
	font-size: 9pt; 
	text-decoration:none;
	height:15px;
	background-color:#4FA0D5;
	margin-top:-10px;
}
.copyrightFooterText
{
	float: left;
	margin-left:5px;
	color:#ffffff;
	letter-spacing: 1px; 
}
.bdmsFooterText
{
	float: right;
	margin-right:5px;
	color:#000000;
	letter-spacing: 3px; 
}

.pdT40
{
	padding-top:2px;
	float:left;
}

.pdT170
{
	padding-top:140px;
}

.pdB80
{
	padding-bottom:80px;
}

.pdT20
{
	padding-top:20px;
}

.pdB20
{
	padding-bottom:20px;
}

.pdB5
{
	padding-bottom:2px;
}

.pdL5
{
	padding-left:2px;
}

.pdL20
{
	padding-left:5px;
}

.pdR30
{
	padding-right:10px;
}

.pd20
{
	padding:10px;
}

.pd10
{
	padding:5px;
}

.pd5
{
	padding:1px;
}

.asterisk
{
	color:#fd0222;
}

.successmsg
{
	font-family:Georgia, Arial; 
	color:#487E2C;
	font-size:7pt; 
	letter-spacing:1px;
	padding:10px 2px;
}

.errclass
{
	border:2px solid #fd0222;
}

.errmsg
{
	font-family:Georgia, Arial; 
	color:#d2021d;
	font-size:8pt; 
	font-weight:normal;
	letter-spacing:1px;
	padding:5px 2px;
}

.erricon
{
	background-color:rgba(214, 233, 241, 0.58); 
	display:inline-block;
	line-height:18px;
	padding-left:25px;
	background:transparent url(../images/errorIcon.gif) center left no-repeat;
}

/*---------- To Display messages like Info, Error, Warnings, etc. ----------*/
.errorMsg, .information, .success, .warningMsg
{
	border: 1px solid;
	margin: 10px 0px;
	padding:7px 10px 7px 50px;
	letter-spacing:1px;
	background-repeat: no-repeat;
	background-position: 10px center;
}
.errorMsg
{
	color: #D8000C;
	font-size:11px;
	background-color: #FFBABA;
	background-image: url(../images/error.png);
	margin:40px 0px -34px 0px;
	width:470px;
}
.information
{
	color: #005eb3;
	font-size:13px;
	background-color: #BDE5F8;
	background-image: url(../images/info.png);
	width:590px;
}
.success
{
	color: #4F8A10;
	font-size:11px;
	width:220px;
	background-color: #DFF2BF;
	background-image:url(../images/success.png);
}
.warningMsg
{
	color: #9F6000;
	font-size:11px;
	background-color: #FEEFB3;
	background-image: url(../images/warning.png);
	margin:40px 0px -15px 0px;
	width:270px;
}

/*------------------------ End ------------------------*/

.genlink
{
	font-family:verdana, arial; 
	color:#1F7C1F; 
	font-size:13px; 
	text-decoration:none;
	font-weight:bold;
}

.addlink
{
	font-family:arial; 
	color:#008080; 
	font-size:17px; 
	text-decoration:none;
	font-weight:bold;
}

.addButton
{
	font-family:arial;
	color:#157900;
	font-size:14px; 
	text-decoration:none;
	font-weight:bold;
}

.header
{
	font-size: 15px; 
	letter-spacing: 3px; 
	color:#236896;
	font-family: Arial;
	padding-top:-0px;
	text-decoration:underline;
}

.listclass {
	border: 0 none;
	color: #FFFFFF;
	background: transparent;
	font-size: 14px;
	font-weight: bold;
	padding: 2px 10px;
	background: #58B14C;
}

.mainselection {
	overflow:hidden;
	width:343px;
	-moz-border-radius:9px 9px 9px 9px;
	-webkit-border-radius:9px 9px 9px 9px;
	border-radius:9px 9px 9px 9px;
	background-color:#074165;
	box-shadow:1px 1px 11px rgba(240, 87, 41, 0.7);
	color:#F05729;	
}

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 15px rgb(55, 117, 158); 
	border-radius: 9px;
}

::-webkit-scrollbar-thumb {
	border-radius: 9px;
	-webkit-box-shadow: inset 0 0 6px rgb(55, 117, 158); 
}

.floatdiv
{
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	height:30px;
	background-color:rgba(148, 177, 190, 0.72);
	opacity:5;
	color:#DEDEDE;
	padding:10px;
	box-shadow:0px 0px 10px #0B3A1F;
}